# 01 - EDA Notebook

In [4]:
import pandas as pd
import os
import glob

In [19]:
data_path = os.path.join(os.getcwd(), 'use_this_data', '*')

In [22]:
files = glob.glob(data_path)

In [23]:
files

['/home/ec2-user/SageMaker/udacity-aws-machine-learning-nanodegree-capstone/use_this_data/watchlist_01012022_10312022',
 '/home/ec2-user/SageMaker/udacity-aws-machine-learning-nanodegree-capstone/use_this_data/ratios_01012022_10312022',
 '/home/ec2-user/SageMaker/udacity-aws-machine-learning-nanodegree-capstone/use_this_data/stockquotes_01012022_10312022',
 '/home/ec2-user/SageMaker/udacity-aws-machine-learning-nanodegree-capstone/use_this_data/shortsales_01012022_10312022']

In [26]:
wl = pd.read_parquet(files[0])
rat = pd.read_parquet(files[1])
sq = pd.read_parquet(files[2])
ss = pd.read_parquet(files[3])

In [28]:
wl

,Security Code,Periodic Call Auction Trading (see Remark below),file_date,Security Code Clean
0,1213,,2022-01-03,1213
1,1418,,2022-01-03,1418
2,1472,,2022-01-03,1472
3,1512,**,2022-01-03,1512
4,1538,,2022-01-03,1538
...,...,...,...,...
8,3043,**,2022-10-31,3043
9,3536,**,2022-10-31,3536
10,6225,**,2022-10-31,6225
11,8101,**,2022-10-31,8101
12,9110,,2022-10-31,9110

In [29]:
rat

,Security Code,Dividend yield (%),Dividend year,P/E ratio,P/B ratio,Fiscal year / quarter,file_date,Security Code Clean
0,1101,7.10,2020,13.91,1.49,2021/3,2022-01-03,1101
1,1102,7.86,2020,10.09,1.03,2021/3,2022-01-03,1102
2,1103,6.76,2020,7.29,0.51,2021/3,2022-01-03,1103
3,1104,5.09,2020,12.78,0.75,2021/3,2022-01-03,1104
4,1108,5.88,2020,20.52,1.06,2021/3,2022-01-03,1108
...,...,...,...,...,...,...,...,...
960,9944,4.90,2021,4.11,0.66,2022/2,2022-10-31,9944
961,9945,17.68,2021,5.34,2.96,2022/2,2022-10-31,9945
962,9946,5.89,2021,18.33,0.59,2022/2,2022-10-31,9946
963,9955,0.00,2021,NaN,1.21,2022/2,2022-10-31,9955
964,9958,3.88,2021,19.35,2.54,2022/2,2022-10-31,9958

In [30]:
sq

,Security Code,Trade Volume,Transaction,Trade Value,Opening Price,Highest Price,Lowest Price,Closing Price,Dir(+/-),Change,Last Best Bid Price,Last Best Bid Volume,Last Best Ask Price,Last Best Ask Volume,Price-Earning ratio,file_date,Security Code Clean
0,"=""0050""",7064552,8298,1034974917,146.00,147.35,146.00,146.40,+,0.90,146.35,32,146.40,96,0.00,2022-01-03,0050
1,"=""0051""",135357,185,8244702,60.90,61.30,60.75,60.90,+,0.10,60.75,2,60.90,45,0.00,2022-01-03,0051
2,"=""0052""",882163,488,119306921,134.65,135.95,134.65,135.20,+,1.05,135.20,54,135.35,7,0.00,2022-01-03,0052
3,"=""0053""",28349,25,1996804,70.25,70.75,70.25,70.45,+,0.50,70.40,20,70.45,1,0.00,2022-01-03,0053
4,"=""0054""",3998,13,127031,31.68,31.80,31.68,31.80,+,0.12,31.59,24,31.80,2,0.00,2022-01-03,0054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,9944,71751,38,1459923,20.35,20.40,20.25,20.40,+,0.05,20.35,2,20.40,25,4.11,2022-10-31,9944
1172,9945,6956898,4827,276325555,40.30,40.50,39.25,39.60,None,0.40,39.60,93,39.65,5,5.34,2022-10-31,9945
1173,9946,11298,18,130561,11.45,11.80,11.45,11.55,+,0.05,11.50,2,11.55,1,18.33,2022-10-31,9946
1174,9955,131905,147,2244930,17.05,17.10,16.75,17.05,+,0.25,17.00,1,17.05,2,0.00,2022-10-31,9955
1175,9958,6231522,5543,489629002,81.70,81.70,77.00,77.00,None,3.80,77.00,3,77.20,7,19.35,2022-10-31,9958

In [31]:
ss

,Security Code,Trading Volume,Trading Value,file_date,Security Code Clean
0,"=""0050""",2,292950,2022-01-03,0050
1,"=""0051""",0,0,2022-01-03,0051
2,"=""0052""",0,0,2022-01-03,0052
3,"=""0053""",0,0,2022-01-03,0053
4,"=""0054""",0,0,2022-01-03,0054
...,...,...,...,...,...
1118,9944,0,0,2022-10-31,9944
1119,9945,173,6891050,2022-10-31,9945
1120,9946,0,0,2022-10-31,9946
1121,9955,0,0,2022-10-31,9955
1122,9958,148,11612400,2022-10-31,9958